.header__section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.user__intro_links {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}
.user__intro_links:hover > .hover__edit {
  display: flex;
}
.user__data {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}
.data__wrapper {
  display: flex;
  gap: 5px;
  justify-content: flex-end;
  align-items: center;
}
