.link {
  font-size: 0.8rem;
  color: var(--text-color);
  text-decoration: underline;
}

.user__section,
.section__container,
.user__skills {
  width: 100%;
}

.user__section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

.section__heading {
  color: var(--header-color);
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 5px;
}

.skill__container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.skill__heading {
  width: 15%;
  font-size: 0.9rem !important;
  font-weight: 500 !important;
}

.skills__name {
  width: 80%;
  font-size: 0.75rem !important;
  font-weight: 400;
  background-color: var(--color-background);
  color: var(--text-color);
}

.skills__name::before {
  content: ":";
  margin-right: 10px;
}

.list {
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  font-weight: 400;
}

.list__items {
  margin: 10px 0px;
}

.error {
  color: red !important;
}

.bold {
  font-weight: 600;
  color: var(--main-color);
}

.edit__btn {
  display: none;
}

.skill__container:hover .edit__btn {
  display: block;
  cursor: pointer;
}

.flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.editBtn {
  padding: 0.1rem 0.2rem;
  font-size: 0.8rem;
  box-shadow: var(--button-shadow);
  margin: 0 0.5rem;
  cursor: pointer;
  color: var(--text-color);
}

.hover__edit {
  display: none;
  position: absolute;
  top: 15px;
  left: 0px;
}

